*{
  color: black;
  font-family: "Roboto", sans-serif;
}

main {
  padding-top: 100px;
}

main .row {
  margin-bottom: 20px;
}

.box {
  height: 200px;
  text-align: center;
  padding-top: 30px;
}

header {
  background-color: orange;
  margin-bottom: 33px;
}

header h1 {
  line-height: 1;
  margin-bottom: 0;
}

header p {
  margin-top: 0.5em;
}

.cards {
  border:  1px solid grey;
}

.image{
  width: 100;
}

/*is the card image width for the box.. or col?. and is it nessessart?*/

.cardinfo {
  padding: 20px;
}

.cardinfo h3 {
  margin-top: 0;
  margin-bottom: 0;
}

.cardinfo p {
  margin: 0.5em 0;
}