*{
  font-family: "Roboto", sans-serif;
}

header {
  background-color: orange;
  margin-bottom: 40px;
}

body {
  color: #252525;
}

header h1 {
  line-height: 1;
  margin-bottom: 0;
}

header p {
  margin-top: 0.5em;
}

.cards {
  border:  1px solid grey;
  margin-bottom: 20px;
}

.image{
  width: 100%;
}

.cardinfo {
  padding: 20px;
}

.cardinfo h3 {
  margin-top: 0;
  margin-bottom: 0;
}

.cardinfo p {
  margin: 0.5em 0;
}